body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background: linear-gradient(#f69d3c, #3f87a6);
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    text-align: center;
    border: 2px groove brown;
    background-color: brown;
    color: white;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

#book-form {
    background: blanchedalmond;
    border: 5px groove black;
    border-radius: 8px;
    height: 500px;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 4px solid black;
    border-radius: 8px;
    background-color: burlywood;
    font-weight: bold;
}

#bookshelf {
    width: 700px;
    background-color:blanchedalmond;
    border: 5px groove black;
    border-radius: 8px;
    
}

#bookshelf-ul {
 
    margin: 0;
    padding: 0;
}

form {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px 0;
}

button {
    width: 200px;
    background-color: green;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    align-self: center;
}

li {
    list-style-type: none;
}

.book-item {
    display: flex;
    justify-content: space-aro;
    align-items: center;
    margin: 0 auto;
    margin-left: 10px;
}

.book-item span {
    flex-grow: 1;
}



.book-item button {
    background-color: red;
    width: 80px;
    margin-top: 5px;
    
}

label {
    text-align: center;
}

label:first-of-type {
    margin-top: 10px;
}

#pages {
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-bottom: 20px;
  }

input[type="radio"]:last-of-type {
    margin-bottom: 10px;
  }